In [9]:
import pandas as pd

In [8]:
ice_cream = ["Chocolate", "Vanilla", "Strawbery", "Raisin"]

In [14]:
s = pd.Series(ice_cream)

In [11]:
lottery = [4, 8, 25, 16, 23, 42]

In [12]:
pd.Series(lottery)

0     4
1     8
2    25
3    16
4    23
5    42
dtype: int64

In [13]:
pd.Series(lotter)

NameError: name 'lotter' is not defined

In [15]:
s

0    Chocolate
1      Vanilla
2    Strawbery
3       Raisin
dtype: object

In [16]:
s.values

array(['Chocolate', 'Vanilla', 'Strawbery', 'Raisin'], dtype=object)

In [17]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
s.dtype

dtype('O')

In [20]:
prices = [2.99, 4.45, 8.97]

In [21]:
s = pd.Series(prices)
s

0    2.99
1    4.45
2    8.97
dtype: float64

In [22]:
s.sum

<bound method Series.sum of 0    2.99
1    4.45
2    8.97
dtype: float64>

In [23]:
s.sum()

16.41

In [24]:
s.product()

119.35033500000003

In [25]:
s.mean()

5.47

In [27]:
fruits = ["pineapple", "orange", "apple"]

In [29]:
pd.Series(fruits, prices)

2.99    pineapple
4.45       orange
8.97        apple
dtype: object

In [30]:
pd.Series(prices, fruits)

pineapple    2.99
orange       4.45
apple        8.97
dtype: float64